@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Red Hat Text";
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/bg-stars.svg");
  background-color: hsl(234, 17%, 12%);
  color: white;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.title {
  text-align: center;
  letter-spacing: 5px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.segment-date {
  color: hsl(345, 95%, 68%);
  font-weight: bold;
  font-size: 5em;
}

.card-date {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 10px 0px 0 hsl(234, 17%, 15%);
  border-radius: 15px;
}

.card-date-top,
.card-date-bottom,
.card-date .top-flip,
.card-date .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}

.card-date-top,
.card-date .top-flip {
  background-color: hsl(235, 16%, 14%);
  /* border-radius: 20px 20px 10px 10px; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-date-bottom,
.card-date .bottom-flip {
  background-color: hsl(236, 21%, 26%);
  display: flex;
  align-items: flex-end;
  /* border-radius: 10px 10px 20px 20px; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-date .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}
@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}
.card-date .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.segment-title {
  color: hsl(237, 18%, 59%);
  text-align: center;
  letter-spacing: 5px;
}

.footer {
  color: white; /* Cambia esto según tu diseño */
  padding: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-image: url("../images/pattern-hills.svg");
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
